#mapCanvas{
    width: 100%;
    height: 400px;
}
.btn-details {
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s,transform 0.25s;
    background-color: rgb(175, 241, 175);
}
.btn-details:hover {
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.25em);
    cursor: pointer;
}
.btn-pagination {
    margin-top: 5px;
    margin-bottom: 5px;
}
