html {
  font-size: 14px;
}

img {
  margin-top: 10px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: aliceblue;
}
nav, footer {
  background-color: whitesmoke;
}
.card {
  background-color: whitesmoke;
}
.custom-card {
  background-color: whitesmoke;
}
.custom-card-img {
  margin-top: 0px;
  border-bottom: 1px solid #414344;
}
.btn-search {
  margin-top: 5px;
  transition: color 0.25s, border-color 0.25s, box-shadow 0.25s,transform 0.25s;
}
.btn-search:hover {
  box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
  transform: translateY(-0.25em);
  cursor: pointer;
}
